/* General Types */
.button {
    cursor: pointer;
    border-style: none;
    background-color: #2044E0;
    color: white;
}

.textfields {
    border-style: solid;
}

/* Specific Components */
.Login {
    padding: 2em;
    height: min-content;
    width: min-content;
    background-color: white;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5em;
    border-radius: 1rem; 
}

.Login form input {
    padding: 0.5em;
    font-size: 2.4rem;
    margin: 0.2em;
    border-radius: 1rem; 
    border-color: rgb(165, 165, 165);
}

.SpiralLogo {
    margin-top: -10em;
    margin-bottom: -10em;
    height: 40rem;
}

.SpiralLogoHome {
    margin: auto;
    margin-top: -5em;
    margin-bottom: -5em;
    height: 20rem;
}

.LoginButton {
    width: 80%;
}

/* Navbar and Navdisplay */
.Navbar {
    width: 20%;
    background-color: rgb(255, 255, 255, 0.5);
    height: 100vh;
}

.Navbar div {
    text-align: left;
    background-color: blue;
    width: 90%;
    margin: auto;
}

.NavDisplay {
    width: 80%;
    background: goldenrod;
    height: 100vh;
}