/* General Types */
.button {
    cursor: pointer;
    border-style: solid;
    background-color: rgba(0, 108, 197);
    color: white;
    transition: 0.3s;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    background-color: rgba(0, 65, 119, 0.8);
}

.title {
    font-style: italic;
    font-size: 2.5rem;
}

.LoginTextfields {
    border-style: solid;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    border-color: gray;
}

/* Specific Components */
.Login {
    padding: 2em;
    height: min-content;
    width: min-content;
    background-color: rgb(223, 223, 223);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5em;
    border-radius: 1rem; 
}

.Login form input {
    padding: 0.5em;
    font-size: 2.4rem;
    margin: 0.2em;
    border-radius: 1rem; 
    border-color: rgb(165, 165, 165);
}

.SpiralLogo {
    margin-top: -10em;
    margin-bottom: -10em;
    height: 40rem;
}

.SpiralLogoHome {
    margin: auto;
    margin-top: -5em;
    margin-bottom: -5em;
    height: 20rem;
}

.LoginButton {
    width: 80%;
}

/* New Account */
.NewAccount {
    margin: auto;
    margin-top: 3%;
    height: 90%;
    width: 90%;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 0.5rem;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
}

.NewAccount h1 {
    font-style: italic;
    font-size: 2.5rem;
}

.NewAccount div {
    padding: 0.5em 3em;
}

.NewAccount label, .NewAccount input {
    font-size: 1.5rem;
}

.NewAccount input {
    margin-left: 0.5em;
    border-radius: 0.2em;
    /* padding-left: 1.5em; */
    text-align: center;
}

.NewAccount input + label {
    margin-left: 0.5em;
}

.input {
    margin-left: 0.5em;
    border-radius: 0.2em;
    font-size: 1.5rem;
    border-width: 0.18rem;
}

/* Submitting a New Account Button */
.SubmitAccount {
    text-align: center;
    font-size: 1.6rem;
    padding: 1em;
    border-radius: 0.2em;
    background-color: rgba(0, 108, 197, 0.8);
    transition: 0.5s;
    cursor: pointer;
}

.SubmitAccount:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    color: white;
}

.SubmitAccount:active {
    background-color: rgba(0, 65, 119, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

/* Individual Account */
.Account {
    margin: 1.2em 3em;
    margin-top: 0;
    border-radius: 0.5em;
    background-color: rgba(0, 108, 197, 0.8);
    transition: 0.5s;
    cursor: pointer;
    font-size: 1rem;
}

.Account:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
    color: white;
}

.Account:active {
    background-color: rgba(0, 65, 119, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

/* Individual Transaction */
.Transaction {
    margin: 1.2em 3em;
    margin-top: 0;
    border-radius: 0.5em;
    background-color: rgba(0, 108, 197, 0.8);
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TransColumn {
    display: flex;
    flex-direction: column;
}

.Right {
    text-align: right;
}

.Green {
    color: rgb(0, 110, 0);
}

.Red {
    color: rgb(143, 0, 0);
}

/* NavLink and Header on Transaction Screen */
.NavHeader {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    margin-bottom: 0.3em;
    justify-content: space-between
}

.NavigationLink {
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 0.5em;
    border-radius: 0.35em;
    transition: 0.4s;
}

.NavigationLink:hover {
    background-color: rgba(0, 108, 197, 0.8);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.NavigationLink:active {
    background-color: rgba(0, 65, 119, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
}

/* Withdraw Deposit Transfer */
.WithdrawDepositContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 3%;
    width: 40%;
}

.WithdrawDeposit {
    margin-bottom: 0.4em;
    padding: 0.4em 3em;
    padding-bottom: 2em;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 0.2rem;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
}

.Transfer {
    padding: 0.4em 3em;
    margin: auto;
    margin-top: 3%;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 0.2rem;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 35%;
}

.WithdrawDeposit input, select, option {
    font-size: 1.5rem;
    width: 100%;
    border-radius: 0.2rem;
    padding: 0;
    box-sizing: border-box;
}

.WithdrawDeposit select {
    border-width: 0.15rem;
    border-color: inherit;
}

.WithdrawDeposit input + input {
    margin-top: 1em;
}