/* Background Image */
body {
  background: url('https://wallpapersmug.com/large/873479/blue-spirals-lines-digital-art.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0;
  color: black;
}

.App {
  text-align: center;
}